*{
    margin:0px;
    padding: 0px;

}

.content-table{
   
    border-collapse: collapse;
    margin: 35px ;
    font-size: 1.2em;
    min-width:600px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
  
}

.content-table thead tr{
   
    background-color: #009879;
    color:#ffff;
    font-weight: bold;
   
}
.content-table th,
.content-table td{
    padding: 10px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: lightgrey;

}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr:nth-of-type(even) {
    font-weight: bold;
    color: #009879;
}